*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  /* placing the content in the middle using absolute concept + top left 50% */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.6);
  max-width: 500px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.content .input{
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}


.searchbtn{
  background: #ffec00;
  width: 10%;
  border-radius: 5px;
  position: relative;
}

.searchbtn .fas{
  background: #ffec00;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 25px;
  cursor : pointer;
}

.link2 { color: #CD5C5C; } /* CSS link color */
